
.DS_Store
一个简陋的实现/Sucker/.vs
一个简陋的实现/Sucker/Repl/bin/*
一个简陋的实现/Sucker/Repl/obj/*
一个简陋的实现/Sucker/Interpreter/bin/*
一个简陋的实现/Sucker/Interpreter/obj/*
一个简陋的实现/Sucker/InterpreterTests/bin/*
一个简陋的实现/Sucker/InterpreterTests/obj/*
一个简陋的实现/Sucker/packages
一个简陋的实现/Sucker/ManualTest/bin/*
一个简陋的实现/Sucker/ManualTest/obj/*
